{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}

{% if application_step == "3" %}
<div
    id="skill-layout"
    data-application-step="{{ application_step }}"
    data-title="{{ application_template.essential_title }}"
    data-context="{{ application_template.essential_context }}"
    data-skills-section-title={{ application_template.skills_section.essential_title}}>

</div>
{% elseif application_step == "4" %}

{% endif %}
