{% extends "layouts/base" %}

{% block title %}

    {{ itp.page_title }}

{% endblock %}

{% block body %}

    {# Sitewide Notice ====================================================== #}
    {% include "common/alert" %}

    {# Government of Canada Banner ========================================== #}
    {% include "common/goc" %}

    <div data-clone>
        <div
            data-c-background="white(100)">
            <div style="background-image: url('/images/bg_crowd.jpg');" data-c-overlay="black(80)" data-c-padding="bottom(triple)">
                <div data-c-margin="bottom(triple)">
                    {% include "common/menu" %}
                </div>
                <div data-c-container="layout" data-c-alignment="centre">
                    <span data-c-colour="white" data-c-margin="bottom(normal)">Thursday, November 3rd, 2018</span>
                    <h2 data-c-colour="white" data-c-font-size="h2" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Employee Benefits Information (for humans)
                    </h2>
                    <span data-c-colour="white" data-c-margin="bottom(triple)">Authored by: Matt Jackson</span>
                    <nav aria-label="breadcrumb" data-c-breadcrumbs data-c-colour="white" data-c-margin="bottom(normal)">
                        <ol>
                            <li>
                                <a href="#link-to-page" title="This is the title of the page link.">
                                    Home
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                            <li>
                                <a href="#link-to-page" title="This is the title of the page link.">
                                    Blog
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                            <li>
                                <a aria-current="page" href="#link-to-page" title="This is the title of the page link.">
                                    Employee Benefits In...
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            {# Post Content ================================================= #}
            <div data-c-padding="top(triple) bottom(triple)">
                <div data-c-container="copy" class="blog-post">
                    <p>When you’re thinking about where to apply for a job there are several factors to consider. Salary, location, fit, and passion for the work are all important. Another super important factor are the employee benefits that are available. Unfortunately, if you’re a part of the estimated thirty-percent of Canadian employees who work in the gig economy, you’re likely working without that safety net. Many of those workers are right here at the Government of Canada; one of the largest employers of gig workers in the country.</p>
                    <p>At Talent Cloud, we’re trying to attract people who normally wouldn’t be interested in a government work. One of our value propositions is providing term contract opportunities for project-based (or gig) work that include the rights and benefits of a full-time permanent (aka indeterminate) position, that may have otherwise been posted as a casual position, or procured through a staffing agency.</p>
                    <p>One issue that we’ve run up against is the absence of a single resource that communicates what benefits exists, when you qualify, and what you need to do that is easy to find and understand. That’s why we decided to put together a cheat sheet that covers the main benefits that applicants can expect if they are offered a position through Talent Cloud as well as several types of paid leave.</p>
                    <p>We’re not creating any new content here. We’re just summarizing existing policies. (We aren’t HR.)</p>
                    <p>As we put this list together, we realized that it’s useful to more than just potential Talent Cloud applicants. We have several new members on the Talent Cloud team, and they found it really helpful as they navigate their first weeks and months. We also identified a couple of misconceptions from our long-tenured team members.</p>
                    <p>So we thought we would share the document more broadly. Is it useful? Let us know! Have other feedback? We’d love to hear that too!</p>
                    <hr>
                    <p>All jobs posted on Talent Cloud are for term positions. That means you are a Government of Canada employee for the duration of your contract. Term positions provide paid holidays and vacation leave, and offers you protection by making benefits mandatory. The information below will be correct for most jobs posted on Talent Cloud, but if you’d like to confirm, ask the hiring manager or use the first two letters in the government classification on the job poster to find the collective bargaining agreement that applies to the position.</p>
                    <h3>Here’s what you should expect…</h3>
                    <h4>Health Care</h4>
                    <p>You can opt-in to the Public Service Health Care Plan right away if your term is more than six months (or after six months of continuous employment as a term or permanent employee) and the premiums are 100% employer-paid. The plan covers extended health care costs like prescription drugs, private nursing services, and eyeglasses as well as hospital charges. For most services, the plan covers 80% of expenses but in some cases there are specified maximums.</p>
                    <h4>Dental Care</h4>
                    <p>The Public Service Dental Care Plan is 100% employer-paid and covers 90% of basic services and 50% of major services and orthodontics. Enrolment for eligible employees is automatic after a three-month waiting period.</p>
                    <h4>Disability Insurance</h4>
                    <p>Disability insurance is compulsory and no application is required. If your term is longer than six months, it starts on your first day. Premiums are 85% employer-paid. The remaining 15% is deducted directly from your pay. This benefit pays you 70% of your monthly salary if any disability prevents you from performing the regular duties of your job.</p>
                    <h4>Pension Plan</h4>
                    <p>If the term of your position is more than six months the good news is that you’re eligible to participate in the public service pension plan beginning on your first day of work. Both you and the Government of Canada contribute equally to the plan. The percentage deducted from your pay will vary depending on your salary.</p>
                    <h4>Paid Holidays</h4>
                    <p>There are 11 designated paid holidays available to you. They are: New Year’s Day, Good Friday, Easter Monday, Victoria Day, Canada Day, Labour Day, Thanksgiving, Remembrance Day, Christmas Day, Boxing Day, and a provincial or civic holiday in the area where you are employed (e.g., August Civic Holiday). Remote workers take note, this is based on the location of your team’s official office, and not the location where you do your work.</p>
                    <h4>Paid Leave</h4>
                    <p>In addition to paid holidays, there are several other types of paid leave available to you. The following are some of the most commonly used.</p>
                    <ul>
                        <li><strong>Vacation:</strong> You will earn 1.25 days of vacation a month, which works out to three-weeks each year. For the first six-months, you can only use the vacation days you have earned. After that, you can start using anticipated vacation days for the rest of the year.</li>
                        <li><strong>Sick leave:</strong> You will earn 1.25 days of sick leave with pay a month, which works out to 3 weeks each year but you can still take paid sick leave even if you haven’t earned the days (pending approval from your manager).</li>
                        <li><strong>Family leave:</strong> You have up to five days each year to take care of family-related responsibilities. This covers circumstances like school or daycare being closed unexpectedly, school functions, or to care for an ill or elderly family member.</li>
                        <li><strong>Personal leave:</strong> You have up to two days each year to take care of personal matters.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
